@import "tailwindcss";
@import "@heroui/styles";
@import "m3-ripple/ripple.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Geist";
  src: url("./core/assets/fonts/geist/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    /* Custom */
    --custom-background: 0.9247 0.0013 106.43;
    /* Overrides */
    --background: 1 0 0;
    --foreground: 0 0 0;
    --accent: 0.5648 0.1948 261.92;
    --default: 0.9612 0 0;
  }

  .dark {
    /* Custom */
    --custom-background: 0.278 0.0055 286.04;
    /* Overrides */
    --background: 0 0 0;
    --foreground: 1 0 0;
    --default: 0.2103 0.0059 285.89;
  }
}

@theme {
  /* Custom */
  --font-geist: Geist, sans-serif;
  --color-custom-background: oklch(var(--custom-background));
  /* Overrides */
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-accent: oklch(var(--accent));
  --color-default: oklch(var(--default));
}

.bg-grid {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      to right,
      oklch(var(--foreground) / 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      oklch(var(--foreground) / 0.06) 1px,
      transparent 1px
    );
  background-size: 24px 24px;
}

.bg-dots {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    oklch(var(--foreground) / 0.12) 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 15px;
  background-color: oklch(var(--custom-background));
}

body {
  font-family: var(--font-geist);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
