@import "tailwindcss";
@import "@heroui/styles";
@import "m3-ripple/ripple.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Geist";
  src: url("./core/assets/fonts/geist/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);
    --accent: 58% 0.158 258;
    --custom-background: 92.2% 0 0;
    --custom-foreground: 0% 0 0;
    --custom-secondary: 94% 0 0;
    --custom-secondary-foreground: 0% 0 0;
  }

  .dark {
    --background: var(--black);
    --foreground: var(--white);
    --custom-background: 23.4% 0.012 256.4;
    --custom-foreground: 98.4% 0 0;
    --custom-secondary: 17.5% 0.014 256.4;
    --custom-secondary-foreground: 98.4% 0 0;
  }
}

@theme {
  --font-geist: Geist, sans-serif;

  --color-accent: oklch(var(--accent));
  --color-custom-background: oklch(var(--custom-background));
  --color-custom-background-foreground: oklch(var(--custom-foreground));
  --color-custom-secondary: oklch(var(--custom-secondary));
  --color-custom-secondary-foreground: oklch(
    var(--custom-secondary-foreground)
  );
}

.bg-grid {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(to right, oklch(0.5 0 0 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, oklch(0.5 0 0 / 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.bg-dots {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    oklch(var(--custom-foreground) / 0.12) 1px,
    transparent 1px
  );
  background-size: 16px 16px;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 15px;
  background-color: oklch(var(--custom-background));
}

body {
  font-family: var(--font-geist);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
